<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Father</title>
</head>
<body>
    <div class="container">
        <h1>Read</h1>
        <img src="{{ url_for('static',filename='/FATHER.gif') }}" alt="">
        <p>Father is signed exactly like daddy, if you are referring to a biological, foster, adoptive, or stepfather: make the number 5 sign in ASL, then tap the thumb end on your forehead. Another trick to help you remember father is that male signs are always above the nose, and female signs are below the nose - so the sign for father is the same as the sign for mother, just a little higher.

           However, if by Father you mean a spiritual father, priest, or minister, then take your letter G hand and run the index finger and thumb a short distance across the front of your neck just under your chin, signifying the priestly or ministerial white collar.</p>
    </div>
</body>
</html>

<style>

.container{
    display: flex ;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    color: white;
}
img{
    width: 50%;
    height: 50%;
}
body {
    background-color: rgb(18, 51, 66);
  }
</style>