<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mother</title>
</head>
<body>
    <div class="container">
        <h1>Read</h1>
        <img src="{{ url_for('static',filename='/MOTHER.gif') }}" alt="">
        <p>To sign mother, extend and spread your fingers apart on your dominant hand. With your pinkie facing forward, tap your thumb on your chin. The hand sign for mother is the same as the hand sign for daddy, but signed lower on the face.

            Traditionally, it is said that male signs are above the nose or around the forehead, because you can imagine a man tipping his hat to greet a woman. On the other hand, the female sign is below the nose, or around the chin area, because that's where women used to tie their bonnets securely around their head.</p>
    </div>
</body>
</html>

<style>

.container{
    display: flex ;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    color: white;
}
img{
    width: 50%;
    height: 50%;
}
body {
    background-color: rgb(18, 51, 66);
  }
</style>